interactions:
- request:
    body: '{"type": "outcomeMeta"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"outcomes":[{"outcome":1209,"name":"template:priceTouch","description":"perp:HYPE|priceDescription:HYPE-USDC
        perp mark |seconds:1|target:100|time:20261001-0000","sideSpecs":[{"name":"template:Yes"},{"name":"template:No"}],"quoteToken":"USDC","venue":"out","deployerFeeScale":"1.0"},{"outcome":1210,"name":"template:binaryPrice","description":"perp:BTC|priceDescription:BTC-USDC
        mark|seconds:1|threshold:100000|time:20261001-0000","sideSpecs":[{"name":"template:Yes"},{"name":"template:No"}],"quoteToken":"USDC","venue":"out","deployerFeeScale":"1.0"},{"outcome":1211,"name":"template:priceTouch","description":"perp:BTC|priceDescription:BTC-USDC
        mark|seconds:1|target:100000|time:20261001-0000","sideSpecs":[{"name":"template:Yes"},{"name":"template:No"}],"qu[...]
- request:
    body: '{"type": "outcomeTemplates"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"id":"binaryPrice","role":{"standaloneOutcome":{"sideNames":["Yes","No"]}},"name":"{perp}
        above {threshold} at {time}?","description":"The market resolves to Yes if
        the {perp} price is above {threshold} at {time}, and otherwise resolves to
        No. Settlement is according to the {seconds}-second TWAP of {priceDescription}
        price ending at {time}. If {perp} is delisted before this market settles,
        settlement is instead according to the {perp} settlement price at delisting.
        metadata=category:price|subCategory:N/A|semanticRestriction:This market must
        refer to the price of a Hyperliquid perp.","keywords":[["perp","hlPerp"],["priceDescription","string"],["seconds","uInt"],["threshold","uDecimal"],["time","dateTime"]]},{"id":"policyRateDecision","role":"question","name":"{institution}
        {decisionLabel} rate decision","description":"This market has three possible
        results: No change, Decrease, or Increase. Exactly one corresponding named
        outcome resolves to Yes; the other two and the protocol-created fallback resolve
        to No. It covers the {decisionLabel} {institution} decision concerning {policyMeasure},
        scheduled for {scheduledDecision} UTC (the \"Decision\"). The Decision Value
        is the numeric value of {policyMeasure} announced by {officialSource}. The
        Prior Value is the value of that same measure in effect immediately befo[...]
